<!DOCTYPE html>
<html>

<head>
	<title>AS - Mario Silva</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
</head>

<body>

	<h1>Precisão</h1>
	<p>{{ precisao }}</p>

	<h1>Estatísticas</h1>
	<table border="1">
		<thead>
			<tr>
				<th></th>
				<th>Precision</th>
				<th>Recall</th>
				<th>F1-Score</th>
				<th>Support</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Positivo</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Positivo']['precision']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Positivo']['recall']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Positivo']['f1-score']) }}</th>
				<th class="conteudo">{{ estatistica['Positivo']['support'] }}</th>
			</tr>
			<tr>
				<th>Negativo</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Negativo']['precision']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Negativo']['recall']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Negativo']['f1-score']) }}</th>
				<th class="conteudo">{{ estatistica['Negativo']['support'] }}</th>
			</tr>
			<tr>
				<th>Neutro</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Neutro']['precision']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Neutro']['recall']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['Neutro']['f1-score']) }}</th>
				<th class="conteudo">{{ estatistica['Neutro']['support'] }}</th>
			</tr>
			<tr>
				<th>micro avg</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['micro avg']['precision']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['micro avg']['recall']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['micro avg']['f1-score']) }}</th>
				<th class="conteudo">{{ estatistica['micro avg']['support'] }}</th>
			</tr>
			<tr>
				<th>macro avg</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['macro avg']['precision']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['macro avg']['recall']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['macro avg']['f1-score']) }}</th>
				<th class="conteudo">{{ estatistica['macro avg']['support'] }}</th>
			</tr>
			<tr>
				<th>weighted avg</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['weighted avg']['precision']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['weighted avg']['recall']) }}</th>
				<th class="conteudo">{{ "%.2f"|format(estatistica['weighted avg']['f1-score']) }}</th>
				<th class="conteudo">{{ estatistica['weighted avg']['support'] }}</th>
			</tr>
		</tbody>
	</table>

	<h1>Matriz de Confusão</h1>
	{{ matriz_conf | safe }}

	</br>

	<div class="graficos">
		<div>
			<p>Positivo: 93%</p>
			<div class="grafico" style="width: 300px; height: 300px; position: relative; border-radius: 300px; background-color: rgb(243, 243, 243);"><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 100px); transform: rotate(0deg);"><div style="background-color: rgb(0, 128, 0); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(180deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 150px); transform: rotate(180deg);"><div style="background-color: rgb(0, 128, 0); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(154.8deg);"></div></div></div>
		</div>
		<div>
			<p>Negativo: 75%</p>
			<div class="grafico" style="width: 300px; height: 300px; position: relative; border-radius: 300px; background-color: rgb(243, 243, 243);"><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 100px); transform: rotate(0deg);"><div style="background-color: rgb(255, 0, 0); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(180deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 150px); transform: rotate(180deg);"><div style="background-color: rgb(255, 0, 0); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(90deg);"></div></div></div>
		</div>
		<div>
			<p>Neutro: 70%</p>
			<div class="grafico" style="width: 300px; height: 300px; position: relative; border-radius: 300px; background-color: rgb(243, 243, 243);"><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 100px); transform: rotate(0deg);"><div style="background-color: rgb(128, 128, 128); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(180deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 150px); transform: rotate(180deg);"><div style="background-color: rgb(128, 128, 128); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(72deg);"></div></div></div>
		</div>
	</div>

	<div class="graficos">
		<div>
			<p>Geral: 79%</p>
			<div class="grafico" style="width: 300px; height: 300px; position: relative; border-radius: 300px; background-color: rgb(243, 243, 243);"><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 100px); transform: rotate(0deg);"><div style="background-color: rgb(42, 67, 219); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(180deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 150px); transform: rotate(180deg);"><div style="background-color: rgb(42, 67, 219); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(104.4deg);"></div></div></div>
		</div>
	</div>

	<h1>Frases classificadas</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Classificação</th>
				<th>Texto</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(0, classificacoes|count): %}
				<tr>
					<th class="classificacao {{ classificacoes[i] }}">{{ classificacoes[i] }}</th>
					<th class="conteudo">{{ frases[i] }}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
</body>

</html>